name: Code Analysis and Linting

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    paths-ignore:
      - '**.md'

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Code Analysis

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: composer:v2
          coverage: none

      - name: Checkout friendsofphp php-cs-fixer code
        uses: actions/checkout@v3
        with:
          repository: 'friendsofphp/php-cs-fixer'
          ref: 'v3.15.1'
          path: '.php-cs-fixer'

      - name: Install dependencies
        run: |
          cd .php-cs-fixer/
          composer install
          cd ..
      - name: Run
        run: ./.php-cs-fixer/php-cs-fixer fix --dry-run --diff --show-progress=none --verbose